* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

/* Header */
.header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.header__logo img {
    margin-right: 10px;
    height: 48px;
}

.header__menu a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.header__right {
    display: flex;
    align-items: center;
}

.logout-button {
    background-color: #f00;
    color: #fff;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
}

/* Main Dashboard Content */
.dashboard {
    padding: 20px;
}

.account-summary {
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.account-summary h2 {
    margin-bottom: 15px;
}

.account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.account h3 {
    font-size: 1.2em;
}

.account-balance {
    font-size: 1.5em;
    font-weight: bold;
}

.sub-accounts {
    display: flex;
    flex-direction: column;
}

.sub-account {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

/* 用户搜索 */
.user-search {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.user-search input {
    margin-right: 10px;
    padding: 5px;
}

.quick-links {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.quick-links .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    padding: 15px;
    background-color: #eee;
    border-radius: 5px;
    text-align: center;
}

.quick-links .link img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.header__right .logout-button {
    margin-left: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 1em;
    box-sizing: border-box;
    z-index: 3;
    box-shadow: 1px -2px 5px 1px rgba(0, 0, 0, 0.2);
}

footer a {
    text-decoration: none;
    color: #3729d4;
}

.quick-link-links{
    text-decoration: none;
    color:#333;
}

.quick-link-links:hover {
    color: #0278de; /* 可选，设置鼠标悬停时的颜色 */
}